<footer>
    <div class="contenido">
        <div class="informacion">
            <p>Desarrollado por Santos Benitez Santiago</p>
            <div class="redes">
                <a href="https://www.facebook.com/santiago18.santiago" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/saints_1484/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@saintssimon3174" target="_blank"><i class="fa-brands fa-youtube"></i></a>
            </div>
        </div>
    </div>
</footer>
<script src="/js/script.js"></script>