<footer>
    <p>DESARROLLADO POR: BENITEZ SIMON
    </p>
    <p>Carnet:2290 21 9304</p>
    <p>Contacto: ssimonh@miumg.edu.gt | Teléfono:+502 44887937</p>
    <div class="social-media">
                <a href="https://www.facebook.com/santiago18.santiago" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="https://www.instagram.com/saints_1484/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://www.youtube.com/@saintssimon3174" target="_blank"><i class="fa-brands fa-youtube"></i></a>
    </div>
</footer>
