<header>
    <!-- Contenedor del logo y el título -->
    <div class="logo-container">
        <img src="/img/logo.png" alt="Logo de Vehículos de Carga" class="logo">
        <h1>Vehículos de Carga</h1>
    </div>
    
    <!-- Botón para el menú en pantallas pequeñas -->
    <!-- Menú de navegación -->
    <nav>
        <ul class="nav-links">
            <li><a href="/">Página principal</a></li>
            <li><a href="/electricos">Eléctricos</a></li>
            <li><a href="/gasolina">Gasolina</a></li>
            <li><a href="/diesel">Diesel</a></li>
        </ul>
    </nav>
</header>
