<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>{{titulo}}</title>
</head>
<body>
{{>header}}

    <!-- sección proyectos -->
    <section id="proyectos" class="proyectos">
        <div class="contenido">
            <div class="fila">.

                <a href="1etica">
                    <div class="col">
                        <div class="numero-proyecto">1</div>
                        <img src="/img/0etica.png" alt="Proyecto 1">
                        <h3 class="titulo-proyecto">Proyecto 1</h3>
                    </div>
                </a>
                <a href="2mruymruv">
                    <div class="col">
                        <div class="numero-proyecto">2</div>
                        <img src="/img/0MRU Y MRUV.png" alt="Proyecto 2">
                        <h3 class="titulo-proyecto">Proyecto 2</h3>
                    </div>
                </a>
                <a href="3complidor">
                    <div class="col">
                        <div class="numero-proyecto">3</div>
                        <img src="/img/0Compilador.png" alt="Proyecto 2">
                        <h3 class="titulo-proyecto">Proyecto 3</h3>
                    </div>
                </a>
                <a href="4abarroteria">
                    <div class="col">
                        <div class="numero-proyecto">4</div>
                        <img src="/img/0abarroteria.png" alt="Proyecto 2">
                        <h3 class="titulo-proyecto">Proyecto 4</h3>
                    </div>
                </a>
                <a href="5recursos">
                    <div class="col">
                        <div class="numero-proyecto">5</div>
                        <img src="/img/0recursos.png" alt="Proyecto 2">
                        <h3 class="titulo-proyecto">Proyecto 5</h3>
                    </div>
                </a>
                <a href="6resgistro">
                    <div class="col">
                        <div class="numero-proyecto">6</div>
                        <img src="/img/0registro.png" alt="Proyecto 2">
                        <h3 class="titulo-proyecto">Proyecto 6</h3>
                    </div>
                </a>
            </div>
        </div>
    </section>

{{>footer}}
    </body>
    </html>